body{
 font-family: "Comic Sans MS", Helvetica, Arial, sans-serif;
 font-size: 14px;
 line-height: 32px;
 color: #333333;
 font-weight: normal;
}
.container{
 margin: 0 auto;
 width: 600px;
}
.chat-zone{
 padding: 20px;
 height: 400px;
}
.chatmsg {
margin: 0 5px;
}
.chatmsg b{
 text-transform: uppercase;
 color: orange;
}
.chat{
 margin: 0 auto;
}
.chat #chatZone{
width: 500px;
height: 400px;
border: 1px solid #ddd;
border-radius: 7px;
overflow-y: scroll;
background: #333;
color: #fff;
}
.chat form{
 margin: 10px 0 0 0;
}
input[type="text"]{
border: 1px solid #cccccc;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
outline: none;
padding: 4px 6px;
font-size: 14px;
line-height: 20px;
color: #555555;
border-radius: 3px;
width: 425px;
}
input[type="submit"]{
display: block;
color: #fff;
font-weight: bold;
cursor: pointer;
margin: 5px 0 0 60px;
padding: 6px 10px;
border: 1px solid #777;
background: #333537;
border-radius: 5px;
}